body {body {
    font-family: Inter,sans-serif,'Times New Roman', Times, serif;
    }
    
    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .header__img {
        height: 145px;
        width: auto;
    }
    
    .header__ul {
        display: flex;
        gap: 100px;
        list-style-type: none;
    }
    
    font-family: Inter,sans-serif,'Times New Roman', Times, serif;
    }
    
    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .header__img {
        height: 145px;
        width: auto;
    }
    
    .header__ul {
        display: flex;
        gap: 100px;
        list-style-type: none;
    }
    
    * {
        margin: 0;
        line-height: calc(1em + 0.5rem);
    }

    html {
        scroll-behavior: smooth;
    }

    button {
        display: inline-block;
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
    }

    :root {
        --clr-green: #2f6b3f;
        --clr-light: #459e5d;
    }